@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #050b1a;
}

* {
  box-sizing: border-box;
}

