html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    background: rgba(255,255,255,0.13);
    padding: 18px 25px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    text-align: center;
}

.glass-card {
    background: rgba(255,255,255,0.15);
    padding: 25px;
    border-radius: 18px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.25);
    text-align: center;
    margin-top: 20px;
}
